body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaBTjSTDxPit15HG1vt3FrJBmZdFWs_K7-bQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
}


    h1 {
        color: blue
    }

    img {
        width: 400px;
     
    }

    #thirDiv{
        background-color: chocolate;
        height: 500px;
        width: 600px;
        padding: 50px;
        border: 15px dotted black;
    }
    #spanID{
        font-size: 18px;
        margin: 50px;
        background-color: antiquewhite;
    }
    
    .div_centrado{
        width: 200px;       
        height: 200px;
        margin: 0 auto;
        background-color: antiquewhite;
    }
